<!DOCTYPE html>
<html class="ui-mobile-rendering">
<head>
    <title>RECILIST</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/jquery.mobile-1.0.1.min.css"/>

    <!-- The Templates -->
    <script type="text/template" id="home">  
         <div data-role="header" data-theme="b" >
            <h1 style="color:black">Recilist Home</h1>
                </div>
                 <img src="store.jpg" id="vege">
       
        <div data-role="content" style="color:black" data-theme="b">
            <!-- <h3>recilist home page</h3>
                 <p>Welcome to Recilist!</p>
                <p>This is the Home page. </p>
                -->
            <h1>Save Recipes & <br/>
            Create Shopping <br/>
             Lists Anywhere</h1>
            <p class="blurb">Create and manage your grocery shopping list, FIND and <br/>SAVE your favorite recipes from across the web,<br/> get great SAVINGS and share with your entire family - for FREEEE!!!!</p>

            
            <ul data-role="listview" id="choices" data-inset="true">
                <li><a style="color:black" href="#newSearch">Search for new Recipes</a></li>
                <li><a style="color:black" href="#savedRecipes">View saved Recipes</a></li>
            </ul>
            
        </div>
        
        <div data-role="footer" class="ui-bar" id ="footer" data-theme="b">
            <h5 style="color:black"> powered by <img src="http://static.yummly.com/api-logo.png"> </h5>
        </div>
    </script>

    <script type="text/template" id="newSearch">  
        <div data-role="header" data-theme="b">
            <h1 style="color:black">Results List</h1> 
        </div>

        <div data-role="content">
            <input name= "recipe-search" id="recipe-search" data-icon="search" type="text" placeholder="What do you want to cook?">
            <ul id="search-list" data-role="listview" data-inset="true" data-theme="a">
              <% for(var i in results) { %>
                <li> <img src="<%= results[i].imgUrl %>"> <a href="#newList/<%= results[i].id%>"><%= results[i].title %> </a> </li>
              <% } %> 
            </ul>
        </div>

        <div data-role="footer" class="ui-bar" data-theme="b">
            <a href="#" data-icon="back" class="back ui-btn-left">Back</a>
            <a href="#" data-icon="home">Home</a>
        </div>
    </script>
        
    <script type="text/template" id="newList">
        <div data-role="header" data-theme="b">
            <h1 style="color:black"> <%=recipe_name%> </h1>
        </div>

        <div>
        <div data-role="content">
          <img src= <%=img_url%> >
          <h4>Recipe Rating: <%= rating %> </h4>
          <h4>Total time to Prepare: <%= timetomake %> </h4>
          <h4>Flavor Ratings</h4>
          <div class="ui-block-a"> <div class="ui-bar ui-bar-e"> <h4>saltiness</h4> <%= salty %> </div> </div>
          <div class="ui-block-b"> <div class="ui-bar ui-bar-e"> <h4>sourness</h4> <%= sour %> </div> </div>
          <div class="ui-block-c"> <div class="ui-bar ui-bar-e"> <h4>sweetness</h4> <%= sweet %> </div> </div>
          <div class="ui-block-d"> <div class="ui-bar ui-bar-e"> <h4>bitterness</h4> <%= bitter %> </div> </div>            
        </div>
            
        <div data-role="collapsible" data-collapsed="true" >
          <h3>Ingredients</h3>
            <ul id="ingr-list" data-role="listview" data-inset="true">
              <% for(var i in ingrs) { %>
                <li><%= ingrs[i] %></li>
              <% } %>
            </ul>
        </div>
            
        
        <div data-role="content">
          <input type="button" id="save-this" data-icon="check" value="save to My Recipies">
          <div>
           <img src="store3.jpg" id="aisle">
        </div>
        
        <div data-role="footer" class="ui-bar" data-theme="b">
            <a href="#" data-icon="back" class="back ui-btn-left">Back</a>
            <a href="#" data-icon="home">Home</a>
        </div>
    </script>

    <script type="text/template" id="savedRecipes">
        <div data-role="header">
            <h1>My Recipes</h1>
        </div>

        <div data-role="content">
            <p>list of saved recipes, retrieved from local storage</p>
            <p>Saved Recipes:</p>
            <ul id="search-list" data-role="listview" data-inset="true">
              <% for(var i in results) { %>
                <li> <img src="<%= results[i].imgUrl %>"> <a href="#newList/<%= results[i].id%>"><%= results[i].title %> </a> </li>
              <% } %> 
            </ul>
           <a href="#deleteOld" data-role="button">manage saved recipes</a>
           <a href="#shoppingList" data-role="button">generate shopping list</a>
        </div>
        
        <div data-role="footer" class="ui-bar">
            <a href="#" data-icon="back" class="back ui-btn-left">Back</a>
            <a href="#" data-icon="home">Home</a>
        </div>
    </script>
    
    <script type="text/template" id="deleteOld">
        <div data-role="header">
            <h1>Delete Recipes</h1>
        </div>

        <div data-role="content">
            <p>select which recipes you wish to delete from local storage</p>
            <p>recipes:</p>
            <p>(currently lacks functionality to populate this list)</p>
            <ul data-role="listview" data-inset="true" id="recipe-list">

            </ul>
            <input type="button" data-icon="delete" value="delete selected" />
        </div>
        
        <div data-role="footer" class="ui-bar">
            <a href="#" data-icon="back" class="back ui-btn-left">Back</a>
            <a href="#" data-icon="home">Home</a>
        </div>
    </script>
    
    
    <script type="text/template" id="oldList">
      <div data-role="header">
          <h1>---NAME OF THE RECIPE----</h1> 
      </div>

      <div data-role="content">
          <p>This is a list of all the ingredients in this recipe</p>
          <p>Ingredients:</p>
          <ul data-role="listview" data-inset="true">
              <li>ingredient 1</li>
              <li>ingredient 2</li>
              <li>ingredient 3</li>
              <li>ingredient 4</li>
          </ul>
          <p> (button to view the recipe) </p>
      </div>
      
      <div data-role="footer" class="ui-bar">
          <a href="#" data-icon="back" class="back ui-btn-left">Back</a>
          <a href="#" data-icon="home">Home</a>
      </div>
    </script>
    
    <script type="text/template" id="shoppingList">
      <div data-role="header">
          <h1>shopping list</h1> 
      </div>
      
      <div data-role="content">
        <ul id="search-list" data-role="listview" data-inset="true">
          <% for(var i in results) { %>
            <li> <input type="checkbox" name=i id=i class="custom" /></li>  <!-- these checkboxes are HIDEOUSLY DEFORMED-->
            <label for=i> <%= results[i].title %> </label>
          <% } %> 
        </ul>
      </div>
      
      <div data-role="footer" class="ui-bar">
          <a href="#" data-icon="back" class="back ui-btn-left">Back</a>
          <a href="#" data-icon="home">Home</a>
      </div>      
    </script>
    
    
    <script type="text/template" id="list-item">
      <li>cheese</li>
    </script>
  <!--      <li> <img src= <%=img_url%> > <a href="#newList/"+ <%=model_id%> +"' class='ui-link-inherit'>" + <%=model_title%> + "</a> </li> -->
    
    
    <!-- The Scripts -->
    <script src="lib/jquery-1.7.1.min.js"></script>
    <script src="js/jqm-config.js"></script>
    <script src="lib/jquery.mobile-1.0.1.min.js"></script>
    <script src="js/underscore.js"></script>
    <script src="lib/backbone-min.js"></script>    
    <script src="js/backbone.localStorage.js"</script>
    <script src="js/json2.js"></script>
    <script src="js/main.js"></script>
</head>

<body></body>

</html>
